# 수치데이터 요약하기 - 기술통계 값 보기

## 학습목표
- 기초 통계로 데이터의 분포를 살펴보고, 시각화해봅니다.

## 핵심 키워드
- mean
- median
- max
- min
- count
- describe

## 학습하기
---

In [18]:
# 기본셋팅
import pandas as pd
import numpy as np
import seaborn

import matplotlib.pyplot as plt
# window 의 한글 폰트 설정
plt.rc('font', family='Malgun Gothic')

# Mac 의 한글 폰트 설정
# plt.rc('font', family='AppleGothic')
plt.rc('axes', unicode_minus=False)

# 그래프가 노트북 안에 보이게 하기 위해
%matplotlib inline

# 폰트가 선명하게 보이기 위해
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

# 데이터 불러오기
df = pd.read_csv('source/dataset.csv', low_memory=False)

### 1. 기초통계값

In [17]:
# 데이터 타입을 알기위해 dtypes를 찍어볼 수 있습니다.
df.dtypes
df['위도'].dtypes

dtype('float64')

In [25]:
# 평균
df['위도'].mean()

# 중앙값
df['위도'].median()

# 최대값
df['위도'].max()

# 최소값
df['위도'].min()

# 데이터 개수
df['위도'].count()

# 행렬크기
df.shape

# 데이터 요약하기
df['위도'].describe()

count    91335.000000
mean        36.624711
std          1.041361
min         33.219290
25%         35.811830
50%         37.234652
75%         37.507463
max         38.499659
Name: 위도, dtype: float64

### 2개 이상의 Column 요약하기

In [27]:
df[['위도','경도']].describe()

                 위도            경도
count  91335.000000  91335.000000
mean      36.624711    127.487524
std        1.041361      0.842877
min       33.219290    124.717632
25%       35.811830    126.914297
50%       37.234652    127.084550
75%       37.507463    128.108919
max       38.499659    130.909912