# 선형대수 기초
- 학습목표
    - 선형대수의 기초개념을 학습합니다.
    
    
- 핵심키워드
    - 스칼라(Scalar)
    - 벡터(Vector)
    - 행렬(Matrix)
    - 열 벡터와 행 벡터 (Row Vector, Column Vector)
    - 벡터와 행렬의 연산

# Scalar, Vector, and Matrix

In [11]:
import pandas as pd

## Scalar : a Single number ex) 3.8

In [12]:
a = 3.8

## Vector: an ordered list of numbers

In [13]:
a = [1, 2, 3, 4, 5]

## Matrix: a two-dimensional arra of numbers
- Matrix Size : 3x2 means 3rows and 2 columns
- Row vector: a horizontal vector
- Column vector: a vertical vector ( 선형대수에서 기본적으로 쓰이는 벡터 )

In [14]:
a = [
    [1,2,3],
    [4,5,6]
]

Column is Vertical Vector ( Don't be Confused )

In [15]:
df = pd.DataFrame(a)
df

   0  1  2
0  1  2  3
1  4  5  6

In [20]:
df.T

   0  1
0  1  4
1  2  5
2  3  6

### Matrix Notations ( 행렬 )
- <span style="color:red">Square</span> matrix ( rows == columns )
- <span style="color:red">Rectangular</span> matrix ( rows != columns )
- <span style="color:red">Transpose</span> of matrix (mirroring across the main diagonal)

In [28]:
# Square Matrix ( 3x3 )
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

df = pd.DataFrame(matrix)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [29]:
# Rectangular Matrix ( 2x3 )
matrix = [
    [1, 6],
    [3, 4],
    [5, 2]
]

df = pd.DataFrame(matrix)
df

   0  1
0  1  6
1  3  4
2  5  2

In [30]:
# Transpose of Matrix
df.T

   0  1  2
0  1  3  5
1  6  4  2

In [39]:
print( df.iloc[1, 0] )
print()

print( df.iloc[1, :] )
print()

print( df.iloc[:, 1] )

3

0    3
1    4
Name: 1, dtype: int64

0    6
1    4
2    2
Name: 1, dtype: int64

# Vector/Matrix Additions and Multiplications ( 백터/행렬 덧셈 및 곱셈 )
- (3 x 2) (2 x 2) => 3 x 2
- 앞의 열과 뒤에 행의 수가 같아야 한다.
- 앞의 행, 뒤에 열의 사이즈로 곱셈 결과가 행렬로 나온다.
- AB != BA

In [40]:
import numpy as np

In [47]:
a = np.array([3, 2, 1])
print(a)

b = np.array([4, 5, 6])
print(b)

[3 2 1]
[4 5 6]

## 행렬 덧셈

In [48]:
a+b

array([7, 7, 7])

## 행렬 곱셈
- [행렬곱셈 관련 블로그 참조](https://j1w2k3.tistory.com/575)
- [행렬 사칙연산 유튜브 영상](https://www.youtube.com/watch?v=JpSe38UHaos)
- A(B+C) = AB + AC
- A(BC) = (AB)C
- (AB)^T = B^TA^T
- (AB)^-1 = B^-1A^-1

In [49]:
print( a * 2 )

[6 4 2]

In [52]:
df = pd.DataFrame([
    [1, 6],
    [3, 4],
    [5, 2]
])
df * 2

    0   1
0   2  12
1   6   8
2  10   4

In [54]:
df1 = pd.DataFrame([
    [1, 6],
    [3, 4],
    [5, 2]
])
print(df1)
print('-----------')
df2 = pd.DataFrame([
    [1, -1],
    [2, 1]
])
print(df2)

   0  1
0  1  6
1  3  4
2  5  2
-----------
   0  1
0  1 -1
1  2  1